In [1]:
# Importing Dependencies

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn import svm

In [15]:
# Data Cleaning and Preprocessing

In [3]:
loan_dataset = pd.read_csv('loan.csv')

In [4]:
loan_dataset.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N

In [5]:
loan_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [6]:
loan_dataset.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [7]:
loan_dataset.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
loan_dataset.shape

(614, 13)

In [12]:
loan_dataset = loan_dataset.dropna()

In [13]:
loan_dataset.shape

(480, 13)

In [14]:
loan_dataset.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [26]:
# Checking Variables

In [22]:
loan_dataset['Dependents'].value_counts()

Dependents
0     274
2      85
1      80
3+     41
Name: count, dtype: int64

In [23]:
loan_dataset['Education'].value_counts()

Education
Graduate        383
Not Graduate     97
Name: count, dtype: int64

In [24]:
loan_dataset['Property_Area'].value_counts()

Property_Area
Semiurban    191
Urban        150
Rural        139
Name: count, dtype: int64

In [25]:
loan_dataset['Loan_Status'].value_counts()

Loan_Status
Y    332
N    148
Name: count, dtype: int64

In [27]:
# Label Encoding

In [31]:
loan_dataset.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1

In [33]:
loan_dataset.replace({"Loan_Status":{'N':0,'Y':1},"Gender":{'Male':1,'Female':0},"Married":{'Yes':1,'No':0},"Dependents":{'3+':4},"Education":{'Graduate':1,'Not Graduate':0},"Self_Employed":{'Yes':1,'No':0},"Property_Area":{'Rural':0,'Urban':1,'Semiurban':2}},inplace=True)

C:\Users\ARTH\AppData\Local\Temp\ipykernel_22096\917623011.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  loan_dataset.replace({"Loan_Status":{'N':0,'Y':1},"Gender":{'Male':1,'Female':0},"Married":{'Yes':1,'No':0},"Dependents":{'3+':4},"Education":{'Graduate':1,'Not Graduate':0},"Self_Employed":{'Yes':1,'No':0},"Property_Area":{'Rural':0,'Urban':1,'Semiurban':2}},inplace=True)
C:\Users\ARTH\AppData\Local\Temp\ipykernel_22096\917623011.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_dataset.replace({"Loan_Status":{'N':0,'Y':1},"Gender":{'Male':1,'Female':0},"Married":{'Yes':1,'No':0},"Dependents":{'3+':4},"Education":{'Graduate':1,'Not Graduate':0},"Self_Employed":{'Yes':1,'No':0},"Property_Area":{'Rural':0,'Urban':1,'Semiurban':2}},inplace=True)

In [34]:
loan_dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,1,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,1,4,1,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,1,1,1,0,8072,240.0,253.0,360.0,1.0,1,1
612,LP002984,1,1,2,1,0,7583,0.0,187.0,360.0,1.0,1,1
613,LP002990,0,0,0,1,1,4583,0.0,133.0,360.0,0.0,2,0

In [35]:
# Seperting Data and Labels

In [36]:
X = loan_dataset.drop(columns=['Loan_ID','Loan_Status'],axis=1)
Y = loan_dataset['Loan_Status']

In [87]:
X , Y

In [38]:
# Train Test Split

In [97]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=2,stratify=Y)

In [98]:
X.shape,X_train.shape,X_test.shape

((480, 11), (432, 11), (48, 11))

In [99]:
# Train Model using SVM

In [134]:
classifier = svm.SVC(kernel='linear',class_weight='balanced')

In [ ]:
# Here we add class_Weight to avoid lazy model(Model predict same value for every prediction EX. Predicting 1 every-time)

In [135]:
classifier.fit(X_train,Y_train)

SVC(class_weight='balanced', kernel='linear')

In [136]:
# Model Evalution on train data

In [137]:
X_train_prediction = classifier.predict(X_train)
print("Train Data Classification Report : \n",classification_report(X_train_prediction,Y_train))
print("Train Data Confusion Metrics : \n",confusion_matrix(X_train_prediction,Y_train))

Train Data Classification Report :
               precision    recall  f1-score   support

           0       0.61      0.54      0.57       151
           1       0.77      0.81      0.79       281

    accuracy                           0.72       432
   macro avg       0.69      0.68      0.68       432
weighted avg       0.71      0.72      0.71       432

Train Data Confusion Metrics :
 [[ 81  70]
 [ 52 229]]

In [138]:
# Model Evalution on test data

In [139]:
X_test_prediction = classifier.predict(X_test)
print("Test Data Classification Report : \n",classification_report(X_test_prediction,Y_test))
print("Test Data Confusion Metrics : \n",confusion_matrix(X_test_prediction,Y_test))

Test Data Classification Report :
               precision    recall  f1-score   support

           0       0.53      0.57      0.55        14
           1       0.82      0.79      0.81        34

    accuracy                           0.73        48
   macro avg       0.68      0.68      0.68        48
weighted avg       0.74      0.73      0.73        48

Test Data Confusion Metrics :
 [[ 8  6]
 [ 7 27]]

In [140]:
# Make a predictive System

In [161]:
# Use double brackets to keep it as a 2D DataFrame
new_value = X_test.iloc[[25]]

new_prediction = classifier.predict(new_value)
print(new_prediction)

if(new_prediction == 0):
    print("Loan Rejected")
else:
    print("Loan Accepted")

[0]
Loan Rejected